<div class="container-fluid sub-container">
  <div class="row">
    <div class="col-sm-5 col-xs-5 col-lg-5 container-background">
      <div class="row">
        <table>
          <tr>
            <th>PRODUCT</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>TOTAL</th>
          </tr>
          <div
            *ngFor="let item of productList; let i = index"
            style="display: contents"
          >
            <tr *ngIf="item.qty > 0">
              <td style="background-color: #fff; width: 200px">
                <div class="row">
                  <div
                    class="col-sm-2 col-xs-2 col-lg-2"
                    style="
                      background-color: rgb(216, 102, 102);
                      padding: 5;
                      border-radius: 100px;
                    "
                    (click)="delete(i)"
                  >
                    <span style="color: #fff"> x </span>
                  </div>
                  <div class="col-sm-10 col-xs-10 col-lg-10">
                    <span>
                      {{ item.name }}
                    </span>
                  </div>
                </div>
              </td>
              <td style="background-color: #fff">{{ item.price }}</td>
              <td style="background-color: #fff">
                <div class="input-group mb-3">
                  <span
                    class="btn input-group-text border-0"
                    (click)="handleValue('qty', i, 'decr')"
                    >-</span
                  >
                  <input
                    type="text"
                    class="form-control text-center"
                    [(ngModel)]="item.qty"
                    readonly
                  />
                  <span
                    class="btn input-group-text border-0"
                    (click)="handleValue('qty', i, 'inr')"
                  >
                    +
                  </span>
                </div>
              </td>
              <td style="background-color: #fff">{{ item.totol }} INR</td>
            </tr>
          </div>
        </table>
      </div>
    </div>

    <div class="col-sm-7 col-xs-7 col-lg-7 container-background">
      <div class="row" *ngIf="productList">
        <div
          id="line"
          class="col-sm-2 img-conatiner"
          *ngFor="let item of productList; let i = index"
        >
          <div
            [ngStyle]="{
              'background-image': 'url(' + item.image + ')'
            }"
            class="text-container"
            (click)="addItem(i)"
          >
            <span id="name" class="product-name">{{ item.name }}</span>
            <div id="desc" class="product-data">
              <span class="text-wrap">{{ item.name }}</span>
              <span class="text-wrap" style="font-size: 14px"
                >{{ item.price }} EUR</span
              >
              <span style="font-size: 10px" class="text-wrap">{{
                item.description
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-sm-5 col-xs-5 col-lg-5 container-background">
      <div class="container-fluid">
        <table>
          <tr>
            <td>Sub Total</td>
            <td class="row-color">
              <div class="space-content">
                <span>{{ subTotal }}</span>
                <span>{{ count }} items</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>VAT tax</td>
            <td class="row-color">
              <div class="space-content">
                <span>10%</span>
                <span>{{ vatTax }}</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Discount</td>
            <td class="row-color">
              <div class="space-content">
                <span>10%</span>
                <span>{{ discount }}</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="row-color">
              <div class="space-content">
                <span>{{ total }} INR</span>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Recipt</h5>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <th>products</th>
                <th>Quantity</th>
                <th>Sub total</th>
              </tr>
              <div
                *ngFor="let item of productList; let i = index"
                style="display: contents"
              >
                <tr *ngIf="item.qty > 0">
                  <td class="recipt">{{ item.name }}</td>
                  <td class="recipt">{{ item.qty }}</td>
                  <td class="recipt">{{ subTotal }}</td>
                </tr>
              </div>
              <tr>
                <td class="recipt">Totol items</td>
                <td class="recipt">{{ count }} total</td>
                <td class="recipt">{{ total }} INR</td>
              </tr>
              <tr>
                <td class="recipt">Discount</td>
                <td class="recipt">10%</td>
              </tr>
              <tr>
                <td class="recipt">VAT</td>
                <td class="recipt">10%</td>
              </tr>
              <tr style="border-width: 1px solid rgb(185, 184, 184)">
                <button
                  type="button"
                  class="btn btn-light"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  Close
                </button>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div
      class="col-sm-5 col-xs-5 col-lg-5 container-background"
      style="justify-content: space-between; display: flex"
    >
      <button
        type="button"
        class="btn btn-danger"
        style="width: 100%; margin-right: 10px"
        (click)="cancel()"
      >
        CANCEL SELL
      </button>
      <button
        *ngIf="subTotal == 0"
        type="button"
        class="btn btn-success"
        style="width: 100%"
      >
        PROCESS SELL
      </button>
      <button
        *ngIf="subTotal > 0"
        type="button"
        class="btn btn-success"
        style="width: 100%"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        PROCESS SELL
      </button>
    </div>
  </div>
</div>
