:host {
  .container-background {
    background-color: #f0f0f0;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th {
    text-align: center;
    padding: 10px;
    font-family: poppins;
  }
  .recipt {
    background-color: white !important;
  }
  td {
    border-top: 1px solid rgb(185, 184, 184);
    padding: 10px;
    background-color: lightgray;
    font-family: poppins;
    font-weight: 500;
  }
  .row-color {
    background-color: white;
  }
  .sub-container {
    background-color: #f0f0f0;
    padding: 20px;
  }
  .img-conatiner {
    display: grid;
    margin-top: 20px;
  }
  div#line span#name {
    display: inline;
  }
  div#line:hover span#name {
    display: none;
  }
  div#line div#desc {
    display: none;
  }
  div#line:hover div#desc {
    display: grid;
  }
  .img-style {
    width: 90px;
    height: 120px;
    border-radius: 10px;
  }
  .product-name {
    position: absolute;
    color: #fff;
    word-wrap: break-word;
    overflow: hidden;
    width: 90px;
    text-align: center;
    margin-top: 5px;
  }
  .product-data {
    position: absolute;
    color: #fff;
  }
  .text-wrap {
    word-wrap: break-word;
    overflow: hidden;
    width: 90px;
    text-align: center;
  }
  .text-container {
    width: 90px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  #line {
    cursor: pointer;
  }
  .space-content {
    display: flex;
    justify-content: space-between;
  }
}
